/* основний колір тексту  #212121 */
/* вторинний колір тексту #757575 */
/* колір білого тексту #FFFFFF */
/* наголос #2196F3 */
/* вторинний колір фону #F5F4FA */

:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --black: #000000;
  --background-white: #f5f4fa;
  --text-color-white: #ffffff;
  --background-hero: #2f303a;
  --footer-addres: rgba(255, 255, 255, 0.6);
  --border-color-card: #eeeeee;
  --card-set-gap: 30px;
  --card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.link {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* Section */
.section {
  padding: 94px 0;
}
/* header-nav */
.header-nav {
  display: flex;
  align-items: center;
}

/* logo */
.header-logo {
  display: inline-block;
  margin: 24px 0 25px;
}
.header-logo,
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.header-logo-web,
.footer-logo-web {
  color: var(--accent-color);
}
.header-logo-studio {
  color: var(--black);
}
/* .header-logo:hover,
.header-logo:focus {
  color: var(--accent-color);
} */

/* site nav */
.site-nav-link {
  display: block;
  padding: 32px 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
}
.site-nav {
  margin-left: 93px;
  display: flex;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
.site-nav .item:last-child {
  margin-left: 0;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav-link.link:current {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
/* contacts */
.contacts {
  margin-left: auto;
  display: flex;
}
.contacts .item + .item {
  margin-left: 50px;
}
.header-contacts {
  display: block;
  padding: 32px 0;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-contacts:hover,
.header-contacts:focus {
  color: var(--accent-color);
}

/* Hero */
.hero {
  padding: 200px 0;
  text-align: center;
  background: #2f303a;
}
.hero-title {
  max-width: 696px;
  margin: 0 auto 30px;

  color: var(--text-color-white);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button-hero {
  padding: 10px 32px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--text-color-white);
  border: none;
}
.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;

  color: var(--text-color-white);
}

/* Feateures */
.feateure {
  padding-bottom: 0;
}
.title-hide {
  pointer-events: none;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.feateure-list {
  display: flex;
}
.section-title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.feateure-title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
/* Work */
.work {
}
.work-list {
  display: flex;
}
.work-list .item:not(:last-child) {
  margin-right: 30px;
}

/* Team */
.team {
  background: var(--background-white);
}
.team-list {
  display: flex;
}
.team-list-item {
  text-align: center;
  margin-right: 30px;
  background: var(--text-color-white);
  box-shadow: var(--card-shadow);
  border-radius: 0px 0px 4px 4px;
}
.team-title {
}

.text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-title {
  margin-top: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team-text {
  margin: 10px 0 30px;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}
/* Портфоліо */

/* Фільтр */
.filtr-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}

.filter-button {
  background: var(--background-white);
  border-radius: 4px;
  border: none;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  padding: 6px 22px;
}

.filter-button:hover,
.filter-button:focus {
  background: var(--accent-color);
  color: var(--text-color-white);
}

.portfolio-element {
  width: 370px;
  border: var(--title-text-color);
  box-sizing: border-box;
  border: 1px solid #eeeeee;
}

/* CARD SET */
.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.card-set > .item {
  background: var(--text-color-white);
  border: 1px solid var(--border-color-card);
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

/* CARD */
.card {
  box-shadow: var(--card-shadow);
  border-radius: 4px;
  overflow: hidden;
}

.card-content {
  padding: 20px 24px;
}

.card-heading {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--primary-text-color);
}

.card-text {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

/* Footer */
.footer {
  background: var(--background-hero);
  padding: 60px 0;
}
/* Footer logo */
.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
}
.footer-logo-studio {
  color: var(--text-color-white);
}

.footer-address {
  display: block;
  padding-bottom: 9px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--footer-addres);
}
/* .footer-address:last-child {
  padding-bottom: 0px;
} */

.footer-address:hover,
.footer-address:focus {
  color: var(--text-color-white);
}
